.container
  .starter-template
    .row
      .col-md-3
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.glyphicon.glyphicon-book>
              \  Notepads
              %a.pull-right{"data-placement" => "right", href: "#", title: "Add Notepad", href: "#addNotepad", "data-target" => "#addNotepad", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-plus
          - if @notepads.count() > 0
            .list-group{:id => 'notepads'}
              - @notepads.each do |n|
                %span.list-group-item.list-heading{"id" => "notepad-#{n.id}"}
                  = n.name
                  %span.pull-right
                    %a.pull-right{"data-placement" => "right", href: "#", title: "Add Section", href: "#addSection", "class" => "addSectionLink", "data-notepad-id" => "#{n.id}", "data-target" => "#addSection", "data-toggle" => "modal"}<
                      %span.glyphicon.glyphicon-plus><
                %span.sections{:id => "sections-#{n.id}", "data-notepad-id" => n.id}
                  - Notepad.where(:parent => n.id).order(:order).each do |s|
                    %a.list-group-item.np-section{"href" => "#", "data-notepad-id" => "#{s.id}", "id" => "section-#{s.id}", "data-placement" => "right", "data-toggle" => "tooltip"}
                      %span.badge.pull-right>
                        = s.notes.count()
                      = s.name
          - else
            .list-group{:id => 'notepads'}
              %span.list-group-item.list-heading.notepad-not-found
                Notepads not found
          /.list-group
          /  %span.list-group-item.list-heading
          /    Personal
          /    %a.pull-right{"data-placement" => "right", "data-toggle" => "tooltip", href: "#", title: "Add Note"}
          /      %span.glyphicon.glyphicon-plus
          /  %a.list-group-item{href: "#"}
          /    %span.badge.pull-right> 10
          /    My Notes
          /.list-group
          /  %span.list-group-item.list-heading
          /    Work
          /    %a.pull-right{"data-placement" => "right", "data-toggle" => "tooltip", href: "#", title: "Add Note"}
          /      %span.glyphicon.glyphicon-plus
          /  %a.list-group-item.active{href: "#"}
          /    %span.badge.pull-right> 3
          /    New
          /  %a.list-group-item{href: "#"}
          /    %span.badge.pull-right> 2
          /    Current
          /  %a.list-group-item{href: "#"}
          /    %span.badge.pull-right> 5
          /    Completed
          .list-group
            %span.list-group-item.list-heading
              %span.glyphicon.glyphicon-trash
              Trash
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.glyphicon.glyphicon-tags>
              \  Tags
          .panel-body
            %span.label.label-info tag1
            %span.label.label-info tag2
            %span.label.label-info 42
            %span.label.label-info some tag
            %span.label.label-info tag1
            %span.label.label-info tag2
            %span.label.label-info 42
            %span.label.label-info some tag
            %span.label.label-info tag1
            %span.label.label-info tag2
            %span.label.label-info 42
            %span.label.label-info some tag
            %span.label.label-info tag1
            %span.label.label-info tag2
            %span.label.label-info 42
            %span.label.label-info some tag
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.glyphicon.glyphicon-bookmark>
              \  Shortcuts
          .panel-body
            Panel content
      .col-md-9.hidden{"id" => "editor-main"}
        .panel.panel-default
          .panel-body
            .input-group
              %input.form-control{placeholder: "Search...", speech: "", type: "text", "x-webkit-speech" => ""}/
              %span.input-group-btn
                %a.btn.btn-default{"data-placement" => "left", "data-toggle" => "tooltip", href: "#", title: "Clear field", type: "button"}
                  %span.glyphicon.glyphicon-remove
                %br/
        .list-group{:id => "notes-list"}
        /   %a.list-group-item.active{href: "#"}
        /     %h4.list-group-item-heading
        /       List group item heading 1
        /       %span.label.label-warning.pull-right   
        /     %p.list-group-item-text
        /       %span.badge 01.02.2013
        /       Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        /       %span.pull-right
        /         %span.label.label-info tag1
        /         %span.label.label-info tag2
        /         %span.label.label-info 42
        /   %a.list-group-item{href: "#"}
        /     %h4.list-group-item-heading
        /       List group item heading 2
        /       %span.label.label-warning.pull-right   
        /     %p.list-group-item-text
        /       %span.badge Yesterday
        /       Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        /   %a.list-group-item{href: "#"}
        /     %h4.list-group-item-heading
        /       List group item heading 3
        /       %span.label.label-danger.pull-right   
        /     %p.list-group-item-text
        /       %span.badge Today
        /       Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        /       %span.pull-right
        /         %span.label.label-info 42
        /         %span.label.label-info some tag
        .panel.panel-default
          .panel-body
            .input-group
              %input.form-control{placeholder: "Title", id: "note-title", speech: "", type: "text", value: "", "x-webkit-speech" => ""}/
              %span.input-group-btn
                %a.btn.btn-default{"data-placement" => "left", "data-toggle" => "tooltip", href: "#", title: "Save title", type: "button"}
                  %span.glyphicon.glyphicon-floppy-disk
            / Editor
            .btn-toolbar{"data-role" => "editor-toolbar", "data-target" => "#editor"}
              .btn-group
                %a.btn.dropdown-toggle{"data-toggle" => "dropdown", title: "Font"}
                  %i.icon-font
                  %b.caret
                %ul.dropdown-menu
              .btn-group
                %a.btn.dropdown-toggle{"data-toggle" => "dropdown", title: "Font Size"}
                  %i.icon-text-height>
                  \ 
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{"data-edit" => "fontSize 5"}
                      %font{size: "5"} Huge
                  %li
                    %a{"data-edit" => "fontSize 3"}
                      %font{size: "3"} Normal
                  %li
                    %a{"data-edit" => "fontSize 1"}
                      %font{size: "1"} Small
              .btn-group
                %a.btn{"data-edit" => "bold", title: "Bold (Ctrl/Cmd+B)"}
                  %i.icon-bold
                %a.btn{"data-edit" => "italic", title: "Italic (Ctrl/Cmd+I)"}
                  %i.icon-italic
                %a.btn{"data-edit" => "strikethrough", title: "Strikethrough"}
                  %i.icon-strikethrough
                %a.btn{"data-edit" => "underline", title: "Underline (Ctrl/Cmd+U)"}
                  %i.icon-underline
              .btn-group
                %a.btn{"data-edit" => "insertunorderedlist", title: "Bullet list"}
                  %i.icon-list-ul
                %a.btn{"data-edit" => "insertorderedlist", title: "Number list"}
                  %i.icon-list-ol
                %a.btn{"data-edit" => "outdent", title: "Reduce indent (Shift+Tab)"}
                  %i.icon-indent-left
                %a.btn{"data-edit" => "indent", title: "Indent (Tab)"}
                  %i.icon-indent-right
              .btn-group
                %a.btn{"data-edit" => "justifyleft", title: "Align Left (Ctrl/Cmd+L)"}
                  %i.icon-align-left
                %a.btn{"data-edit" => "justifycenter", title: "Center (Ctrl/Cmd+E)"}
                  %i.icon-align-center
                %a.btn{"data-edit" => "justifyright", title: "Align Right (Ctrl/Cmd+R)"}
                  %i.icon-align-right
                %a.btn{"data-edit" => "justifyfull", title: "Justify (Ctrl/Cmd+J)"}
                  %i.icon-align-justify
              .btn-group
                %a.btn.dropdown-toggle{"data-toggle" => "dropdown", title: "Hyperlink"}
                  %i.icon-link
                .dropdown-menu.input-append
                  %input.span2{"data-edit" => "createLink", placeholder: "URL", type: "text"}/
                  %button.btn{type: "button"} Add
                %a.btn{"data-edit" => "unlink", title: "Remove Hyperlink"}
                  %i.icon-cut
              .btn-group
                %a#pictureBtn.btn{title: "Insert picture (or just drag & drop)"}
                  %i.icon-picture
                %input{"data-edit" => "insertImage", "data-role" => "magic-overlay", "data-target" => "#pictureBtn", type: "file"}/
              .btn-group
                %a.btn{"data-edit" => "undo", title: "Undo (Ctrl/Cmd+Z)"}
                  %i.icon-undo
                %a.btn{"data-edit" => "redo", title: "Redo (Ctrl/Cmd+Y)"}
                  %i.icon-repeat
              %input#voiceBtn{"data-edit" => "inserttext", type: "text", "x-webkit-speech" => ""}/
            #editor
            / / Editor
        / .panel.panel-default
        /   .panel-body
        /     .btn-group{"data-toggle" => "buttons"}
        /       - @categories.each do |c|
        /         %label.btn{:class => "btn #{c.html_class}"}
        /           %input{id: "category_#{c.name}", name: "category", value: "#{c.id}", type: "radio"}/
        /           = c.name
        %input{"id" => "tags", "data-role" => "tagsinput", style: "width:100%", type: "text"}/
      #addNotepad.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addNotepadLabel", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
              %h3.modal-title New Notepad
            .modal-body
              %input.form-control{placeholder: "Name of new notepad", id: "notepad-name", style: "width: 100%"}
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button", id: "newnotepadclose"} Cancel
              %button.btn.btn-primary{ "data-dismiss" => "modal", type: "button", id: "createnotepad"} Save
      #addSection.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addSectionLabel", role: "dialog", tabindex: "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
              %h3.modal-title New Section
              %h5#np-name.modal-title
            .modal-body
              %input.form-control{placeholder: "Name of new section", id: "section-name", style: "width: 100%"}
              %input.form-control{id: "notepad-id", type: "hidden"}
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button", id: "newsectionclose"} Cancel
              %button.btn.btn-primary{ "data-dismiss" => "modal", type: "button", id: "createsection"} Save
            / /.modal-content
          / /.modal-dialog
        / /.modal